<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/nouns/">Nouns</a></li>
        <li><a href="/adjectives/">Adjectives</a></li>
        <li><a href="/verbs/">Verbs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="https://www.twitter.com/wickedcoolwords/" target="_blank" ><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://www.facebook.com/wickedcoolwords/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li><a href="/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
    </ul>
</nav>
